<!DOCTYPE html>
<html lang="pt_br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0;  text/html; X-Content-Type-Options=nosniff" >
  <meta name="theme-color" content="#8257E5">
  <title>Proffy | Sua  Plataforma de Estudos Online</title>
  <link rel="stylesheet" type="text/css" href="../../public/styles/main.css">
  <link rel="stylesheet" type="text/css" href="../../public/styles/partials/header.css">
  <link rel="stylesheet" type="text/css" href="../../public/styles/partials/page-landing.css">
  <link rel="shortcut icon" href="../../public/images/favicon.png" type="image/png">
      
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet"> 

  <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@1,700&display=swap" rel="stylesheet"> 
  
</head>
<body id="page-landing">
  <div id="container">
    <div class="logo-container">
      <img src="../../public/images/logo.svg" alt="Logo">
      <h2>Sua Plataforma de Estudos Online</h2>
    </div>

    <img class="hero-image" src="../../public/images/landing.svg" alt="Platafforma de Estudos Onine">
  
    <div class="buttons-container">
      <a href="/study" class="study">
        <img src="../../public/images/icons/study.svg" alt="Study">
        Estudar
      </a>

      <a href="/give-classes" class="give-classes">
        <img src="../../public/images/icons/give-classes.svg" alt="Give Classes">
        Dar Aulas
      </a>
    </div>

    <p class="total-connections">
      Total de 2070 conexoes ja realizadas
      <img src="../../public/images/icons/purple-heart.svg" alt="Purple heart">
    </p>
  </div>
</body>
</html>